@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: radial-gradient(circle, rgba(0,0,0,1) 69%, rgba(94,15,15,1) 100%);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background:radial-gradient(circle, rgba(0,0,0,1) 69%, rgba(94,15,15,1) 100%);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}


